*{ box-sizing: border-box; }
html{ box-sizing: border-box; background-color: rgb(255, 255, 255); font-size: 16px; }
@media (min-width: 48em){
html{ font-size: 18px; }
}
@media (min-width: 64em){
html{ font-size: 20px; }
}
@media (min-width: 80em){
html{ font-size: 22px; }
}
body{ margin: 0px; }
article, footer, nav{ display: block; }
a{ color: rgb(0, 159, 212); }
img{ max-width: 100%; height: auto; vertical-align: middle; border: 0px; }
button{ margin: 0px; font-size: 100%; vertical-align: middle; }
button{ line-height: normal; }
button{ -webkit-appearance: button; cursor: pointer; }
 button{ cursor: pointer; }
html{ position: relative; min-height: 100%; }
body{ margin: 0px; padding: 0px; color: rgba(0, 0, 0, 0.701961); font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; line-height: 1.5; }
h1, h2, h3{ margin: 2em 0px 0.5em; line-height: 1.2; font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; font-weight: bold; }
h1{ margin-top: 0px; font-size: 1.563em; }
h2{ font-size: 1.25em; }
h3{ font-size: 1em; }
p{ margin-bottom: 1.3em; }
p, ul{ orphans: 3; widows: 3; }
ul li{ margin-bottom: 0.5em; }
svg:not(:root){ overflow: hidden; }
nav ul{ margin: 0px; padding: 0px; }
nav li{ list-style: none; }
nav a{ text-decoration: none; }
nav ul li{ margin-bottom: 0px; }
 i, strong, p, span, img, h1, h2, a, .btn{ transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
 button{ vertical-align: baseline; }
 button{ box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; }
.btn{ display: inline-block; margin-bottom: 0.25em; padding: 0.5em 1em; font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; font-size: 0.75em; font-weight: bold; text-align: center; text-decoration: none; border-width: 0px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; cursor: pointer; }
.btn--inverse{ background-color: rgb(255, 255, 255); color: rgb(73, 78, 82); border: 1px solid rgba(216, 216, 216, 0.92549); }
.masthead{ position: relative; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(216, 216, 216, 0.92549); -webkit-animation: intro 0.3s 0.15s both; z-index: 20; }
.masthead__inner-wrap{ clear: both; margin-left: auto; margin-right: auto; padding: 1em; max-width: 100%; display: -webkit-box; -webkit-box-pack: justify; font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; }
.masthead__inner-wrap::after{ clear: both; content: ''; display: table; }
@media (min-width: 80em){
.masthead__inner-wrap{ max-width: 1280px; }
}
.masthead__inner-wrap nav{ z-index: 10; }
.masthead__inner-wrap a{ text-decoration: none; }
.site-title{ display: -webkit-box; padding: 0.5rem 0px; -webkit-box-align: center; font-weight: bold; z-index: 20; }
.masthead__menu{ float: left; margin-left: 0px; margin-right: 0px; width: 100%; clear: both; }
.masthead__menu ul{ margin: 0px; padding: 0px; clear: both; list-style-type: none; }
.masthead__menu-item{ display: block; list-style-type: none; white-space: nowrap; }
.greedy-nav{ position: relative; display: -webkit-box; -webkit-box-align: center; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
.greedy-nav a{ display: block; margin: 0px 1rem; padding: 0.5rem 0px; color: rgba(0, 0, 0, 0.701961); text-decoration: none; }
.greedy-nav a.site-title{ margin-left: 0px; }
.greedy-nav__toggle{ padding: 0px 0.5rem; border: 0px; outline: none; color: rgb(255, 255, 255); background-color: rgb(123, 217, 160); cursor: pointer; }
.greedy-nav .visible-links{ display: -webkit-box; -webkit-box-pack: end; -webkit-box-flex: 1; overflow: hidden; }
.greedy-nav .visible-links li{ -webkit-box-flex: 0; }
.greedy-nav .visible-links a{ position: relative; }
.greedy-nav .visible-links a::before{ content: ''; position: absolute; left: 0px; bottom: 0px; height: 4px; background-color: rgb(123, 217, 160); width: 100%; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -webkit-transform: scaleX(0) translate3d(0px, 0px, 0px); background-position: initial initial; background-repeat: initial initial; }
.greedy-nav .hidden-links{ position: absolute; top: 100%; right: 0px; margin-top: 15px; padding: 5px; border: 1px solid rgba(216, 216, 216, 0.92549); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 4px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px; background-position: initial initial; background-repeat: initial initial; }
.greedy-nav .hidden-links.hidden{ display: none; }
.greedy-nav .hidden-links::before{ content: ''; position: absolute; top: -11px; right: 10px; width: 0px; border-style: solid; border-width: 0px 10px 10px; border-color: rgba(216, 216, 216, 0.92549) transparent; display: block; z-index: 0; }
.greedy-nav .hidden-links::after{ content: ''; position: absolute; top: -10px; right: 10px; width: 0px; border-style: solid; border-width: 0px 10px 10px; border-color: rgb(255, 255, 255) transparent; display: block; z-index: 1; }
.page__footer{ float: left; margin-left: 0px; margin-right: 0px; width: 100%; clear: both; position: absolute; bottom: 0px; height: auto; margin-top: 3em; color: rgba(0, 0, 0, 0.701961); -webkit-animation: intro 0.3s 0.45s both; background-image: linear-gradient(to right, rgb(48, 194, 153), rgb(91, 206, 156), rgb(123, 217, 160), rgb(152, 229, 165), rgb(179, 240, 172)); }
.page__footer::after{ clear: both; content: ''; display: table; }
.page__footer footer{ clear: both; margin-left: auto; margin-right: auto; margin-top: 2em; max-width: 100%; padding: 0px 1em 2em; }
.page__footer footer::after{ clear: both; content: ''; display: table; }
@media (min-width: 80em){
.page__footer footer{ max-width: 1280px; }
}
.page__footer a{ color: rgb(49, 81, 49); text-decoration: none; }
.page__footer .fas, .page__footer .fab{ color: rgb(49, 81, 49); }
.page__footer-copyright{ font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; font-size: 0.6875em; color: rgb(49, 81, 49); }
.page__footer-follow ul{ margin: 0px; padding: 0px; list-style-type: none; color: rgb(49, 81, 49); }
.page__footer-follow li{ display: inline-block; padding-top: 5px; padding-bottom: 5px; font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; font-size: 0.75em; color: rgba(0, 0, 0, 0.701961); text-transform: uppercase; }
.page__footer-follow li + li::before{ content: ''; padding-right: 5px; }
.page__footer-follow a{ padding-right: 10px; font-weight: bold; }
.search__toggle{ margin-left: 1rem; margin-right: 1rem; border: 0px; outline: none; color: rgba(0, 0, 0, 0.701961); background-color: transparent; cursor: pointer; transition: 0.2s; -webkit-transition: 0.2s; }
.search-content{ display: none; visibility: hidden; padding-top: 1em; padding-bottom: 1em; }
.search-content__inner-wrap{ width: 100%; margin-left: auto; margin-right: auto; padding-left: 1em; padding-right: 1em; -webkit-animation: intro 0.3s 0.15s both; }
@media (min-width: 80em){
.search-content__inner-wrap{ max-width: 1280px; }
}
.hidden{ display: none; visibility: hidden; }
.visually-hidden{ clip: rect(1px 1px 1px 1px); overflow: hidden; position: absolute !important; height: 1px !important; width: 1px !important; border: 0px !important; }
.icon{ display: inline-block; fill: currentColor; width: 1em; height: 1.1em; line-height: 1; position: relative; top: -0.1em; vertical-align: middle; }
.social-icons .fas, .social-icons .fab{ color: rgba(0, 0, 0, 0.701961); }
 .social-icons .fa-facebook-square{ color: rgb(59, 89, 152); }
.social-icons .fa-github{ color: rgb(23, 21, 22); }
 .social-icons .fa-rss-square{ color: rgb(250, 155, 57); }
 .social-icons .fa-twitter-square{ color: rgb(85, 172, 238); }
.navicon{ position: relative; width: 1.5rem; height: 0.25rem; background-color: rgb(255, 255, 255); margin: auto; transition: 0.3s; -webkit-transition: 0.3s; background-position: initial initial; background-repeat: initial initial; }
.navicon::before, .navicon::after{ content: ''; position: absolute; left: 0px; width: 1.5rem; height: 0.25rem; background-color: rgb(255, 255, 255); transition: 0.3s; -webkit-transition: 0.3s; background-position: initial initial; background-repeat: initial initial; }
.navicon::before{ top: -0.5rem; }
.navicon::after{ bottom: -0.5rem; }
@media (min-width: 64em){
.sticky{ clear: both; position: -webkit-sticky; top: 2em; }
.sticky::after{ clear: both; content: ''; display: table; }
.sticky > *{ display: block; }
}
#main{ clear: both; margin-left: auto; margin-top: 2em; margin-right: auto; padding-left: 1em; padding-right: 1em; -webkit-animation: intro 0.3s 0.15s both; max-width: 100%; }
#main::after{ clear: both; content: ''; display: table; }
@media (min-width: 80em){
#main{ max-width: 1280px; }
}
.page__title{ margin-top: 0px; line-height: 1; }
.page__meta{ margin-top: 2em; color: rgba(0, 0, 0, 0.701961); font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; font-size: 0.75em; }
.archive{ margin-bottom: 2em; }
@media (min-width: 64em){
.archive{ float: right; width: calc(100% - 200px); padding-right: 200px; }
}
@media (min-width: 80em){
.archive{ width: calc(100% - 300px); padding-right: 300px; }
}
.archive__subtitle{ margin: 1.414em 0px 0px; padding-bottom: 0.5em; font-size: 1em; color: rgba(0, 0, 0, 0.701961); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(216, 216, 216, 0.92549); }
.archive__subtitle + .list__item .archive__item-title{ margin-top: 0.5em; }
.archive__item-title{ margin-bottom: 0.25em; font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; line-height: initial; overflow: hidden; text-overflow: ellipsis; }
.archive__item-title a{ color: inherit; }
.archive__item-excerpt{ margin-top: 0px; font-size: 0.75em; }
.list__item .page__meta{ margin: 0px 0px 4px; font-size: 0.6em; }
.sidebar{ clear: both; margin-bottom: 1em; }
.sidebar::after{ clear: both; content: ''; display: table; }
@media (max-width: 64em){
.sidebar{ position: relative; z-index: 10; -webkit-transform: translate3d(0px, 0px, 0px); }
}
@media (min-width: 64em){
.sidebar{ float: left; width: calc(200px - 1em); opacity: 0.75; transition: opacity 0.2s ease-in-out; -webkit-transition: opacity 0.2s ease-in-out; }
.sidebar.sticky{ overflow-y: auto; }
}
@media (min-width: 80em){
.sidebar{ width: calc(300px - 1em); }
}
 .sidebar h3{ margin-bottom: 0px; font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; }
.sidebar p, .sidebar li{ font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; font-size: 0.75em; line-height: 1.5; }
.sidebar img{ width: 100%; }
.author__avatar{ display: table-cell; vertical-align: top; width: 36px; height: 36px; }
@media (min-width: 64em){
.author__avatar{ display: block; width: auto; height: auto; }
}
.author__avatar img{ max-width: 110px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; }
@media (min-width: 64em){
.author__avatar img{ padding: 5px; border: 1px solid rgba(216, 216, 216, 0.92549); }
}
.author__content{ display: table-cell; vertical-align: top; padding-left: 15px; padding-right: 25px; line-height: 1; }
@media (min-width: 64em){
.author__content{ display: block; width: 100%; padding-left: 0px; padding-right: 0px; }
}
.author__name{ margin: 0px; }
@media (min-width: 64em){
.author__name{ margin-top: 10px; margin-bottom: 10px; }
}
.sidebar .author__name{ font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; font-size: 1em; }
.author__bio{ margin: 0px; }
@media (min-width: 64em){
.author__bio{ margin-top: 10px; margin-bottom: 20px; }
}
.author__urls-wrapper{ display: table-cell; vertical-align: middle; font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; z-index: 10; position: relative; cursor: pointer; }
.author__urls-wrapper li:last-child a{ margin-bottom: 0px; }
@media (min-width: 64em){
.author__urls-wrapper{ display: block; }
}
.author__urls-wrapper button{ margin-bottom: 0px; }
@media (min-width: 64em){
.author__urls-wrapper button{ display: none; }
}
.author__urls{ display: none; position: absolute; right: 0px; margin-top: 15px; padding: 10px; list-style-type: none; border: 1px solid rgba(216, 216, 216, 0.92549); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(255, 255, 255); z-index: -1; box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 4px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px; cursor: default; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 64em){
.author__urls{ display: block; position: relative; margin: 0px; padding: 0px; border: 0px; background-color: transparent; box-shadow: none; background-position: initial initial; background-repeat: initial initial; }
}
.author__urls::before{ display: block; content: ''; position: absolute; top: -11px; left: calc(50% - 10px); width: 0px; border-style: solid; border-width: 0px 10px 10px; border-color: rgba(216, 216, 216, 0.92549) transparent; z-index: 0; }
@media (min-width: 64em){
.author__urls::before{ display: none; }
}
.author__urls::after{ display: block; content: ''; position: absolute; top: -10px; left: calc(50% - 10px); width: 0px; border-style: solid; border-width: 0px 10px 10px; border-color: rgb(255, 255, 255) transparent; z-index: 1; }
@media (min-width: 64em){
.author__urls::after{ display: none; }
}
.author__urls li{ white-space: nowrap; }
.author__urls a{ display: block; margin-bottom: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; color: inherit; font-size: 1em; text-decoration: none; }
@media print{
*{ box-sizing: border-box; }
html{ margin: 0px; padding: 0px; font-size: 16px; }
body{ margin: 0px auto; font-size: 1rem; line-height: 1.5; -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; background-color: rgb(255, 255, 255) !important; color: rgb(0, 0, 0) !important; background-position: initial initial !important; background-repeat: initial initial !important; }
h1, h2, h3{ color: rgb(0, 0, 0); line-height: 1.2; margin-bottom: 0.75rem; margin-top: 0px; }
h1{ font-size: 2.5rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.75rem; }
a{ color: rgb(0, 0, 0); text-decoration: underline; word-wrap: break-word; }
img{ border: 0px; display: block; vertical-align: middle; max-width: 100% !important; }
 li, ul, a{ page-break-inside: avoid; }
h2, h3, p, a{ orphans: 3; widows: 3; }
h1, h2, h3{ page-break-after: avoid; page-break-inside: avoid; }
 h2 + p, h3 + p{ page-break-before: avoid; }
img{ page-break-after: auto; page-break-before: auto; page-break-inside: avoid; }
a[href^="http://"]::after, a[href^="https://"]::after{ content: ' (', attr(href), ')'; font-size: 80%; }
#main{ max-width: 100%; }
.masthead, .page__footer, .author__avatar, .author__content, .author__urls-wrapper, .sidebar{ display: none !important; height: 1px !important; }
}