/* ==========================================================================
   Mint skin modified for FinanceMNL
   ========================================================================== */

/* Colors */
$background-color: #FFFFFF !default;
$text-color: hsla(200,0%,0%,.7) !default;
$muted-text-color: hsla(200,0%,0%,.7) !default;
$primary-color: #5BCE9C !default;
$border-color: mix(#fff, hsla(200,0%,0%,.7), 75%) !default;
$footer-background-color: #98e5a5 !default;
$link-color: #3A96D2 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}