/* ==========================================================================
   Mint skin modified for FinanceMNL
   ========================================================================== */

/* Colors */
$background-color: #FFFFFF !default;
$text-color: hsla(200,0%,0%,.7) !default;
$muted-text-color: hsla(200,0%,0%,.7) !default;
$primary-color: #7bd9a0 !default;
$border-color: mix(#fff, hsla(200,0%,0%,.7), 75%) !default;
$footer-background-color: #b3f0ac !default;
$footer-text-color: #315131 !default;
$link-color: #009fd4 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;