/* ==========================================================================
   Mint skin modified for FinanceMNL
   ========================================================================== */

/* Colors */
$background-color: #FFFFFF !default;
$text-color: #40514e !default;
<<<<<<< HEAD
$muted-text-color: #40514e !default;
$primary-color: #5BCE9C !default;
$border-color: mix(#fff, #40514e, 75%) !default;
$footer-background-color: #5BCE9C !default;
$footer-background-image: linear-gradient(to right, #30c299, #5bce9c, #7bd9a0, #98e5a5, #b3f0ac) !default;
$link-color: #3A96D2 !default;
=======
$muted-text-color: #214B74 !default;
$primary-color: #5bce9c !default;
$border-color: mix(#fff, #214B74, 75%) !default;
$footer-background-color: #7bd9a0 !default;
$footer-background-image: linear-gradient(to right top, #30c299, #5bce9c, #7bd9a0, #98e5a5, #b3f0ac) !default;
$link-color: #214B74 !default;
>>>>>>> 809c1813ae54537c2962b7125531eafc87b635c1
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}